<div class="container">
  <div class="text-center mt-5 mb-5" style="border: 2px solid gray; text-transform: uppercase;"><h3>ToDo List App</h3></div>
  <div class="row">
    <div class="col-md-6">
      <div class="card" style="top: 10px">
        <div class="card-header">Employee Register</div>
        <div class="card-body">
          <form  [formGroup]="todoForm" (ngSubmit)="onSubmitTodo(todoForm.value)" action="">
            <div class="form-group">
              <label for="">Enter ToDo Activity</label>
              <input type="text" class="form-control" value="" formControlName="todolist" id="todolist"
               name="todolist">

               <div class="jumbotron text-center mt-3" *ngIf="todolistarr == ''">
                  <h5>Your ToDo List is Empty</h5>
                </div>
                <form class="form-inline mt-2" *ngFor="let todo of todolistarr; let i=index">
                  <!-- <input type="text" class="form-control" value=" [{{ i+1 }}]  {{ todo.todolist }}" readonly> -->
                  <form class="form-inline">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">{{ i+1 }}</span>
                      </div>
                      <input type="text" class="form-control"  value="{{ todo.todolist }}" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" readonly>
                    </div>
                  </form>
                  <!-- <button type="submit" class="btn btn-outline-success btn-md m-2" >Submit</button> -->
                  <button type="submit" class="btn btn-outline-danger btn-md m-2" (click)="onDeleteTodo(todo.id)">Delete</button>
                  <button type="submit" class="btn btn-outline-primary btn-md m-2" (click)="onEditTodo(todo.id)">Edit</button>
               </form>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="top: 10px">
        <div class="card-header">Update Register</div>
        <div class="card-body">
          <form [formGroup]="todoEditForm" (ngSubmit)="onEditSubmitTodo(todoEditForm.value)" action="">
            <div class="jumbotron text-center" *ngIf="editfilter == ''">
              <h5>There is no Todo for Edit</h5>
            </div>
            <div class="form-group" *ngFor="let editfil of editfilter">
              <label >Enter ToDo Activity</label>
              <input type="text" class="form-control" value="{{editfil.todolist}}" 
              formControlName="todolist" id="todolist" name="todolist" required>
               <input type="hidden" name="hiddenid" id="hiddenid" formControlName="hiddenid" 
                class="form-control" value="{{ editfil.id }}">
              <button type="submit" class="btn btn-outline-success btn-md mt-4" [disabled]="!todoEditForm.dirty">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> 
</div>
<router-outlet></router-outlet>
