<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card" style="top: 10px">
        <div class="card-header">Employee Register</div>
        <div class="card-body">
          <form  [formGroup]="todoForm" (ngSubmit)="onSubmitTodo(todoForm.value)" action="">
            <div class="form-group">
              <label for="">Enter ToDo Activity</label>
              <input type="text" class="form-control" value="" formControlName="todolist" id="todolist"
               name="todolist">

               <form class="form-inline mt-2" *ngFor="let todo of todolistarr">
                  <input type="text" class="form-control" value="{{ todo.todolist }}" readonly>
                  <!-- <button type="submit" class="btn btn-outline-success btn-md m-2" >Submit</button> -->
                  <button type="submit" class="btn btn-outline-danger btn-md m-2" (click)="onDeleteTodo(todo.id)">Delete</button>
                  <button type="submit" class="btn btn-outline-primary btn-md m-2" (click)="onEditTodo(todo.id)">Edit</button>
               </form>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="top: 10px">
        <div class="card-header">Employee Register</div>
        <div class="card-body">
          <form [formGroup]="todoEditForm" (ngSubmit)="onEditSubmitTodo(todoEditForm.value)" action="">
            <div class="form-group" *ngFor="let editfil of editfilter">
              <label for="" >Enter ToDo Activity</label>
              <input type="text" class="form-control" value="{{editfil.todolist}}" formControlName="todolist" id="todolist"
               name="todolist">
              <button type="submit" class="btn btn-outline-success btn-md mt-4" >Edit Done</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> 
</div>
<router-outlet></router-outlet>
